<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Projects Page
        </title>
            {{> header}}

    </head>
    <body>
        
        <p>{{pageMessage}}</p>
    </body>
    
    {{> footer}}
</html>